/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*general style that overrides for all elements*/
* {
    /*this style is from the love-running project, to get the same result*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/

body {
    background-color: #E4C1A2;
    color: #ffff;
    display: flex;
    flex-direction: column;
}

/*header*/
header {
    background-color: #E5956A;
    font-family: 'Abril Fatface', serif;
    display: flex;
    position: fixed;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    box-shadow: 0 1px 2px #de8b5e;
}

header a {
    color: inherit;
    text-decoration: none;
}

#logo {
    font-size: 300%;
    text-decoration: none;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

#menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#menu>li {
    color: inherit;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;


}

.active {
    border-bottom: 3px solid #E4C1A2;
}

/*maincontent*/
main {
    background-color: #E4C1A2;
    font-family: 'Raleway',
        sans-serif;
    top: 100%;
    margin-top: 150px;
    min-height: 100vh;

}

/*hero*/

#hero {
    height: 120px;
    max-width: 100%;
    background-image: url("../images/bok.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding-top: 0;
    position: flex;


}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e18b5c;
    background-color: #e9d5c3 0.6;
    margin: 0 30% auto;
    padding: 50px;
}

#location {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#genre {
    display: flex;
    align-items: left;
    margin-top: 50px;
}




/*footer*/

/*this code is the same as in the love-running project, since that is how i wanted it to look*/
#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: #ffff;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 0;

}

#social-media>li>a {
    text-decoration: none;
    color: #ffff;
    font-size: 120%;

}

#where {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 80%;
    margin-bottom: 20px;
}